@import '../../app.component.scss';

.nav {
  background-color: $primary-color-light;
  border-radius: 7pt;
}

.bar-new {
  padding-left: 15px;
  flex: 1 1 auto;

  button {
    i {
      color: $primary-color-dark;
    }
  }
}

button.selected {
  background-color: #CFD8DC !important;
  background-color: $primary-color-dark !important;
  color: $primary-color-text;
}

.bar-search {
  padding-top: 20px;
}
