<div *ngIf="filteredTasks">
  <md-card class="task-list-section">
    <md-card-content>
      <h2>Task List</h2>
      <ul class="tasks">
        <li *ngFor="let task of filteredTasks" (click)="onSelect(task)" [class.selected]="task.id === selectedTask.id">
          <span>
            <span class="badge">{{filteredTasks.indexOf(task)+1}}</span> {{task.title | maxLength : 25}}
          </span>
          <i class="material-icons app-input-icon delete-button" [class.disabled]="task.id ==selectedTask.id? false: true" (click)="disabled && deleteTask(task.id, $event)">delete</i>
        </li>
      </ul>
    </md-card-content>
  </md-card>
</div>
